.header {
  height: 50vh;
  max-height: 700px;
  background-image: url('../public/images/pizza-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.navItem {
  font-weight: 600;
  color: black;
}
